* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80px;
    color: #504e4d;
    background-color: #fff;
    padding: 0px 60px 0px;
    font-family: 'Horizontal', sans-serif;
}

body {
    background-color: #f3f3f3;
}

.logo {
    width: 60px;
    height: 80px;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: #504e4d
}

.menu li {
    font-size: 18px;
    font-weight: 600;
    width: 120px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

main {
    margin: 60px;
    font-family: 'Montserrat', sans-serif;
}

.preview {
    background-image: url(image/hero.png);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 80px;
    color: #fff;
}

.preview h1 {
    font-size: 70px;
    font-weight: 800;
}

.preview h4 {
    font-size: 24px;
    font-weight: 700;
}

.preview button {
    border-style: none;
    background-color: #FF9900;
    color: #fff;
    width: 280px;
    height: 80px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 80px;
}

.info {
    width: 1235px;
    word-break: break-all;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.info h1 {
    font-size: 48px;
    font-weight: 400;
}

.info p {
    font-size: 16px;
    font-weight: 400;
}

.blocks {
    word-break: break-all;
    white-space: pre-wrap;
    display: grid;
    width: 100%;
    height: 622px;
    margin: 80px 0px 180px;
    grid-template-areas: 
    "blk1 blk2" 
    "blk1 blk3";
}

.blocks h1 {
    font-size: 24px;
    font-weight: 700;
}

.blocks p {
    font-size: 16px;
    font-weight: 400;
}

.block1 .block2 img {
    width: 190px;
    height: 165px;
}

.block1 {
    background-image: url(image/Frame\ 14.png);
    grid-area: blk1;
    display: flex;
    align-items: flex-end;
    padding: 40px;
    gap: 150px;
}

.block1 p {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.block1 button {
    background: none;
    border-style: none;
    border: #FF9900 3px solid;
    color: #fff;
    width: 175px;
    height: 60px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.block2 {
    grid-area: blk2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #CACACA 1px solid;
    margin-bottom: 15px;
    margin-left: 30px;
    gap: 50px;
}

.block3 {
    grid-area: blk3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #CACACA 1px solid;
    margin-top: 15px;
    margin-left: 30px;
    gap: 50px;
}

.left-block {
    width: 50%;
    height: 100%;
}

.works {
    display: flex;
    width: 100%;
    height: 450px;
    margin: 10px;
}

.left-block h1 {
    font-size: 48px;
    font-weight: 400;
}

.steps {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 100%;
    gap: 40px;
    margin: 40px 0px 40px;
}

.steps li {
    font-size: 18px;
    font-weight: 400; 
}

.step {
    color: #FF9900;
}

.left-block h4 {
    font-size: 24px;
    font-weight: 700;
}

.left-block p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 60px 40px 0px;
}

.left-block button {
    border-style: none;
    border: #504e4d 3px solid;
    color: #504e4d;
    width: 147px;
    height: 60px;
    font-size: 16px;
    margin-right: 40px;
}

.left-block button:hover {
    border-style: none;
    background-color: #FF9900;
    color: #fff;
    width: 147px;
    height: 60px;
    font-size: 16px;
}

.right-block {
    background-image: url(image/Rectangle\ 18.png);
    width: 870px;
    height: 100%;
}

.instrs {
    width: 100%;
    height: 450px;
    margin: 160px 0px 200px 0px;
    display: flex;
    flex-direction: column;
}

.instrs h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
}

.instrs h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0px 40px 0px;
}

.instr{
    border-bottom: 1px solid #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #222222;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 50px;
    color: #b8b6b5;
}

.bottom1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuf {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 100%;
}

.icon {
    display: flex;
    justify-content: space-evenly;
}

.icon svg {
    fill: #302f2e;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.form1 input {
    color: #b8b6b5;
    background-color: #504e4d;
    width: 500px;
    height: 60px;
    margin: 10px;
}

.form2 {
    margin: 20px;
}

.form2 button {
    border-style: none;
    background-color: #e68947;
    color: #fff;
    width: 260px;
    height: 60px;
    font-size: 20px;
}

.form2 label {
    font-size: 12px;
    margin: 5px;
}

.bottom3 {
    width: 350px;
    margin: 40px;
}